[submodule "vsmod_AnimationManagerLib"]
	path = vsmod_AnimationManagerLib
	url = https://github.com/maltiez2/vsmod_AnimationManagerLib
[submodule "SimpleExpressionEngine"]
	path = SimpleExpressionEngine
	url = https://github.com/maltiez2/SimpleExpressionEngine
